* {
    font-size: 20px;
    font-family: sans-serif;
}

.button-2 {
    display: flex;
    height: 40px;
    margin: 14px;
    padding: 20px;
    background-color: rgb(75, 136, 136);
}

mat-spinner {
    width: 100px !important;
    height: 100px !important;
    margin-left: 640px !important;
    margin-top: 170px !important;
}

.container-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(243, 253, 250);
}

.card-container {
    width: 70%;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    word-wrap: break-word; /* Break words to prevent overflow */
  white-space: normal;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}

.image {
    width: 100%;
    height: auto;
    max-height: 480px;
    margin-top: 20px;
}

.description {
    white-space: pre-line;
    margin-top: 20px;
}

.date {
    font-size: 17px;
    font-style: italic;
    margin-top: 10px;
}

.author {
    margin-top: 0;
}

.back:hover{
cursor: pointer;
}